experiment_directory: /gpfs/commons/groups/nygcfaculty/PySeq/20210323_4i4color/pipeline
output_directory: /gpfs/commons/groups/innovation/sarah/Hudson_Test/ome_zarr_test_2
resources:
  dask_worker:
    manager: SLURM
    # or specify in .config/dask/jobqueue.yaml
    cores: 1
    memory: 8G
    log_directory: dask_logs
markers:
  # cycle:
  #   channel1: marker1
  #   channel2: marker2
  1:
    610: GFAP
  2:
    740: ELAVL2
  3:
    558: LMN1b
  4:
    687: MBP
  5:
    558: LMN1b_5
    610: GFAP_5
    687: MBP_5
    740: ELAVL2_5
segmentation:
  marker: LMN1b_5
unmix:
  max_iter: 10               # Max iterations to optimize unmixing
gpu_spec:
  partition: gpu
  gres: gpu:tesla:1
unmix:
  max_iter: 10               # Max iterations to optimize unmixing
celltype:
  seurat: /gpfs/commons/groups/compbio/projects/rf_scrna_refs/mouse_spinalcord_seurat_object_subset.rds
  typecol: cell_type
  genedict: /nfs/home/rfu/hudson_misc/v2/genedict.csv 
